extends ../../layouts/header.pug

block title
    title= title


block css
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/profile.css")
    link(rel="stylesheet", href="/css/search.css")
    link(rel="stylesheet", href="/css/follow.css")


block js 
    script(src="/js/app.js" defer)
    script(src="/js/search.js" defer)
    
block bodyContent
    .main_container 
        .left_container
            .left_top 
                .logo_area                    
                    a.logo(href="/home")
                        i.fab.fa-twitter 
                //-  menu area
                .menu_area
                    nav.nav     
                        a.nav_link(href="/home")
                            span 
                                i.fas.fa-home
                                span.notify_box 2
                            |Home
                        a.nav_link(href="/search") 
                            span 
                                i.fas.fa-search
                            |Search
                        a.nav_link(href="/notifications")
                            span 
                                i.fas.fa-bell
                                span.notify_box 2
                            |Notifications
                        a.nav_link(href="/messages") 
                            span
                                i.fas.fa-envelope
                                span.notify_box 2 
                            |Messages
                        a.nav_link(href="/bookmarks")
                            span 
                                i.fas.fa-bookmark
                            |Bookmarks
                        a.nav_link(href="/lists") 
                            span 
                                i.fas.fa-list 
                            |Lists
                        a.nav_link(href="/profile/"+ user.username) 
                            span 
                                i.fas.fa-user  
                            |Profile
                        a.nav_link(class="see_more")
                            span.more 
                                i.fas.fa-ellipsis-h
                            |More               
                    .tweet_btn
                        a(href="/tweets") 
                            button Tweet 
            //- left bottom
            - avatarURL = user.userAvatar? `/uploads/${user._id}/profile/${user.userAvatar}`: `/uploads/profile/avatar.png`
            .left_bottom
                .user_area
                    .user_avatar
                        img(src=`/uploads/${user._id}/profile/${user.userAvatar}`, alt="user avatar") 
                        
                    .user_name
                        h6 #{user.firstName} #{user.lastName}
                        p @#{user.username}
                    .user_dot_btn
                        i.fas.fa-ellipsis-h
                a#logout_btn.btn.btn-light.m-2.d-none(href="/logout")
                    |Logout  
                       
                                
        .middle_container
            .tweet_heading_wrapper
                .heading_text
                    h4 Search 
                .heading_icon
                    i.fas.fa-star


            .search_container
                i.fas.fa-search
                input.search_input(type="search" placeholder="Search "+ tab)
                    
              
                

            //- .follow_container
            //-     - following =  userProfile.following && userProfile.following.length || 0;
            //-     - followers =  userProfile.followers && userProfile.followers.length || 0;
            //-     a.following(href=`/profile/${userProfile.username}/following`) 
            //-         span #{following} 
            //-         |Following
            //-     a.followers(href=`/profile/${userProfile.username}/followers`)
            //-         span #{followers} 
            //-         |Followers
            
            .tabs_container
                a.tweets_tab(class= tab === "tweets" ? "active" : "" href=`/search`) Tweets
                a.replies_tab(class= tab === "users" ? "active" : "" href=`/search/users`) Users 
            
           
            .tweet_container 
                
            .follow_list_container  

        .right_container


    //- reply Modal
    #replyModal.modal.fade(tabindex='-1' aria-labelledby='replyModalTitle' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#replyModalTitle.modal-title.fs-5 Reply
                    button.btn.btn-light.close(type='button' data-bs-dismiss='modal' aria-label='Close' onclick='clearReplyField()')
                        span(aria-hidden='true') &times;

                .modal-body.p-0
                //- .modal-footer
                .create_reply_wrapper
                    .avatar_area
                        .img
                            img(src=avatarURL, alt="user avatar")
                    .reply_area
                        .create_reply 
                            textarea#reply_text(name="reply",  placeholder="What's happening?" )
                            .reply_image_container
                                .reply_image_inner_container
                                if error.multerError
                                    span.error #{error.multerError.msg}
                
                        .reply_options_wrapper
                            .reply_options
                                label(for="reply_img")
                                    i.fas.fa-images   
                                    
                                input#reply_img(type="file", multiple alt="reply" style="display: none")
                            .reply_btn 
                                button.dis_btn(disabled="" id="reply_btn") Reply        

         
             
    script.
       const user = !{userJs};
       const tab = '!{tab}';
       const profileUser = {};



