extends ../../layouts/header.pug

block title
    title= title


block css
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/chat.css")



block js 
    script(src="/js/app.js" defer)
    //- script(src="/js/home.js" defer)
    //- script(src="/js/profile.js" defer)
    script(src="/js/chat.js" defer)
    
block bodyContent
    .main_container 
        .left_container
            .left_top 
                .logo_area                    
                    a.logo(href="/home")
                        i.fab.fa-twitter 
                //-  menu area
                .menu_area
                    nav.nav     
                        a.nav_link(href="/home")
                            span 
                                i.fas.fa-home
                                span.notify_box 2
                            |Home
                        a.nav_link(href="/search") 
                            span 
                                i.fas.fa-search
                            |Search
                        a.nav_link(href="/notifications")
                            span 
                                i.fas.fa-bell
                                span.notify_box 2
                            |Notifications
                        a.nav_link(href="/messages") 
                            span
                                i.fas.fa-envelope
                                span.notify_box 2 
                            |Messages
                        a.nav_link(href="/bookmarks")
                            span 
                                i.fas.fa-bookmark
                            |Bookmarks
                        a.nav_link(href="/lists") 
                            span 
                                i.fas.fa-list 
                            |Lists
                        a.nav_link(href="/profile/"+ user.username) 
                            span 
                                i.fas.fa-user  
                            |Profile
                        a.nav_link(class="see_more")
                            span.more 
                                i.fas.fa-ellipsis-h
                            |More               
                    .tweet_btn
                        a(href="/tweets") 
                            button Tweet 
            //- left bottom
            - avatarURL = user.userAvatar? `/uploads/${user._id}/profile/${user.userAvatar}`: `/uploads/profile/avatar.png`

           

            .left_bottom
                .user_area
                    .user_avatar
                        .active_status.tweet_active_status(data-active_status="Active Now", class="online")
                        img(src=`${avatarURL}`, alt="user avatar") 
                    .user_name
                        h6 #{user.firstName} #{user.lastName}
                        p @#{user.username}
                    .user_dot_btn
                        i.fas.fa-ellipsis-h
                a#logout_btn.btn.btn-light.m-2.d-none(href="/logout")
                    |Logout  
                    
                                
        .middle_container
            .tweet_heading_wrapper
                .heading_text
                    h4 Chat 
                    //- a(href="/messages/new")
                    //-     i.fas.fa-plus


            .chat_container.chat_page
                .chat_header 
                    .chat_image
                        //- img(src="/uploads/profile/avatar.png", alt="")
                    .chat_name 
                        //- span Ruhul Amin
                .chat_message
                    h4 This is message area
                .chat_footer 
                    textarea#msg_input( rows="1" placeholder="Type a message ...", name="text" oninput="auto_grow(this)")  
                    button
                        i.fas.fa-paper-plane
      
        .right_container

             
    script.
       const user = !{userJs};
       const chatId = '!{chatId}';
       const profileUser = {}


    
   




