extends ../../layouts/header.pug

block title
    title= title


block css
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet", href="/css/profile.css")
    link(rel="stylesheet", href="/css/follow.css")


block js 
    script(src="/js/app.js" defer)
    script(src="/js/follow.js" defer)
    
block bodyContent
    .main_container 
        .left_container
            .left_top 
                .logo_area                    
                    a.logo(href="/home")
                        i.fab.fa-twitter 
                //-  menu area
                .menu_area
                    nav.nav     
                        a.nav_link(href="/home")
                            span 
                                i.fas.fa-home
                                span.notify_box 2
                            |Home
                        a.nav_link(href="/explore") 
                            span 
                                i.fas.fa-hashtag
                                span.notify_box 2
                            |Explore
                        a.nav_link(href="/notifications")
                            span 
                                i.fas.fa-bell
                                span.notify_box 2
                            |Notifications
                        a.nav_link(href="/messages") 
                            span
                                i.fas.fa-envelope
                                span.notify_box 2 
                            |Messages
                        a.nav_link(href="/bookmarks")
                            span 
                                i.fas.fa-bookmark
                            |Bookmarks
                        a.nav_link(href="/lists") 
                            span 
                                i.fas.fa-list 
                            |Lists
                        a.nav_link(href="/profile/"+ user.username) 
                            span 
                                i.fas.fa-user  
                            |Profile
                        a.nav_link(class="see_more")
                            span.more 
                                i.fas.fa-ellipsis-h
                            |More               
                    .tweet_btn
                        a(href="/tweets") 
                            button Tweet 

                    - avatarURL = user.userAvatar? `/uploads/${user._id}/profile/${user.userAvatar}`: `/uploads/profile/avatar.png`

                    - profileAvatarURL = userProfile.userAvatar? `/uploads/${userProfile._id}/profile/${userProfile.userAvatar}`: `/uploads/profile/avatar.png`
            //- left bottom
            .left_bottom
                .user_area
                    .user_avatar
                        img(src=avatarURL, alt="user avatar") 
                    .user_name
                        h6 #{user.firstName} #{user.lastName}
                        p @#{user.username}
                    .user_dot_btn
                        i.fas.fa-ellipsis-h
                a#logout_btn.btn.btn-light.m-2.d-none(href="/logout")
                    |Logout  
                 
               
                                
        .middle_container
            .tweet_heading_wrapper
                .heading_text
                    h4 Profile 
                .heading_icon
                    i.fas.fa-star
                  
            .profile_container 
                .cover 
                    img(src="" alt="")
                .avatar
                    img(src=profileAvatarURL, alt="avatar")


            .action_btns 
                if user.username !== userProfile.username
                    a.msg_btn(href="")
                        i.fas.fa-envelope
                    - isFollowing = user.following && user.following.includes(userProfile._id.toString())

                    //- - isFollowing = userProfile.followers && userProfile.followers.includes(user._id.toString())

                    //- - console.log(isFollowing)
            
                    button.follow_btn(class = isFollowing ? "following_btn" :  "" onclick=`followHandler(event, "${userProfile._id}")`) #{isFollowing ? 'Following' : 'Follow'}
                    
            .user_details 
                h4 #{userProfile.firstName} #{userProfile.lastName}
                p @#{userProfile.username}
                - following =  userProfile.following && userProfile.following.length || 0;
                - followers =  userProfile.followers && userProfile.followers.length || 0;

            .follow_container
                a.following(href=`/profile/${userProfile.username}/following`) 
                    span #{following} 
                    |Following
                a.followers(href=`/profile/${userProfile.username}/followers`)
                    span #{followers} 
                    |Followers
            
            .tabs_container
                a.tweets_tab(class= tab === "following" ? "active" : "" href=`/profile/${userProfile.username}/following`) Following
                a.replies_tab(class= tab === "followers" ? "active" : "" href=`/profile/${userProfile.username}/followers`) Followers
        
            .follow_list_container 
                
        .right_container
            



    script.
       const user = !{userJs};
       const tab = '!{tab}';
       const profileUser = !{profileUserJs};


