extends ../layouts/header.pug

block title
    title= title
block css
    link(rel="stylesheet", href="/css/login.css")
    link(rel="stylesheet", href="/css/register.css")

block js 
    script(src="/js/register.js" defer) 
block bodyContent
    .login_container
        .login_wrapper
            h3.text-secondary Register 
            form(action="/register" method="post" enctype="multipart/form-data")
                div(class="d-flex gap-3")
                    div 
                        input(type="text" value= user? user.firstName : '' name="firstName" id="firstName" placeholder="First name" class="form-control" )
                        if error.firstName 
                            p.error #{error.firstName.msg+"*"}

                    div
                        input(type="text" value= user? user.lastName: '' name="lastName" id="lastName" placeholder="Last name" class="form-control")  
                        if error.lastName 
                            p.error #{error.lastName.msg+"*"}

                
                input(type="text" value= user? user.username: '' name="username" id="username" placeholder="Username" class="form-control")
                if error.username 
                    p.error #{error.username.msg+"*"}


                input(type="text" value= user? user.email: '' name="email" id="email" placeholder="Email" class="form-control")
                if error.email 
                    p.error #{error.email.msg+"*"}
                
                div.d-flex.gap-3
                    div.password_area
                        input(type="password" value= user && !error.password && !error.confirmPassword? user.password: '' name="password" id="password" placeholder="Password" class="form-control")
                        if error.password 
                            p.error #{error.password.msg+"*"}
                        i#passwordEyeIcon(class="fa-regular fa-eye")
                        //- <i class="fa-regular fa-eye-slash"></i>
                        //- <i class="fa-regular fa-face-pensive"></i>

                    div.password_area
                        input(type="password" value= user && !error.confirmPassword? user.confirmPassword: '' name="confirmPassword" id="confirmPassword" placeholder="Retype password" class="form-control")
                        if error.confirmPassword 
                            p.error #{error.confirmPassword.msg+"*"}
                        i#confirmPasswordEyeIcon(class="fa-regular fa-eye")
                        p#confirmPassErrors.error

                        
                p#passErrors.error
                input(type="file" accept=".jpg, .png, .jpeg, .svg" name="profileAvatar" id="profileAvatar" class="form-control")
                if error.profileAvatar 
                    p.error #{error.profileAvatar.msg+"*"}

                input(type='submit' name="submit" value="Register" class="form-control my-3" )

                p Already have an account? 
                    a(href="/login") Login here
